@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Metal+Mania);
body {
    background-color: white;
}

.intro h1 {
    font-family: Metal Mania;
    font-size: 48px;
    color: black;
}

.intro p {
    font-family: Poppins;
    font-size: 25px;
}

@media screen and (max-width: 690px) {
    .introImg {
        margin: 0;
    }
}