@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Poppins);
.articleHeader {
    font-family: 'Metal Mania', cursive;
    color: black;
    font-size: 70px;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

@media screen and (max-width:638px) {
    .container1 {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}