.footerBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top:10px;
}

h3 {
    text-align: center;
}
@media (prefers-reduced-motion: no-preference){
  :root{
    scroll-behavior: smooth;
  }
}
