@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Metal+Mania);

/* .NavBar{

} */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navItem {
    font-family: Balsamiq Sans;
}

.circleBrand {
    border-radius: 50%;
    width: 52px;
    height: 50px;
    display: block;
}

.brand {
    font-family: Lobster;
}


.car{
  background-image: url(../img/red.JPG);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}


@media screen and (max-width:660px) {
    .nav-item {
        font-family: Balsamiq Sans;
        margin-left: 0px;
    }
    .articles{
        margin-left: 0px;
    }
}
